<h2>Liste des appartements</h2>
<table>
  <thead>
    <tr>
      <th>Numéro d'Appartement</th>
      <th>Numéro d'Étage</th>
      <th>Surface</th>
      <th>Terrasse</th>
      <th>Surface Terrasse</th>
      <th>Catégorie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let apartment of apartments">
      <td>{{ apartment.apartNum }}</td>
      <td>{{ apartment.floorNum }}</td>
      <td>{{ apartment.surface }} m²</td>
      <td>{{ apartment.terrace ? 'Oui' : 'Non' }}</td>
      <td>{{ apartment.surfaceterrace }} m²</td>
      <td>{{ apartment.category }}</td>
    </tr>
  </tbody>
</table>
